.notaporasignatura {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.notaporasignatura h1 {
  border: 5px solid #296ab1;
	color: #296ab1;
  border-radius: 15px;
	text-align: center;
	font-size: 40px;
  font-weight: bold;
	margin:2% 2% 2% 2%;
  width: 80vh;
  text-transform: uppercase;
}

tbody> tr > td.asignatura3{
  background-color: #1a5089;
}

tbody> tr > td.nota3{
  background-color: #296ab1;
}

tbody> tr > td.nota4{
  border: 3px solid #296ab1;
}

.asignatura3, .nota3, p{
  color: white;
}

.nota4 p{
  color: #296ab1;
}