.crearasignatura {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.crearasignatura h1 {
  border: 5px solid #296ab1;
	color: #296ab1;
  border-radius: 15px;
	text-align: center;
	font-size: 40px;
  font-weight: bold;
	margin:2% 2% 2% 2%;
  width: 80vh;
  text-transform: uppercase;
}

.name-container{
  background: #1a50898e;
  width: 39vw;
  padding: 15px 25px 30px;
  border-radius: 5px;
  margin: 20px;
}

.crearasignatura label{
  color: #001d86;
  font-weight: normal;
}

.input-user{
  width: 100%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-family: inherit;
  caret-color: #001d86;
}

.input-user:focus{
  outline-color: #001d86;
}
