.dashboard{
    display: flex;
} 
.optionsD{
    background-color: #001d86B1;
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.optionsD p{
    font-weight: 300;
    color: white;
}
.contentD{
    width: 80vw;
    height: 80vh;
    
}

div.optionsD{
    margin-left: 10px;
}