.dashboard{
    display: flex;
} 
.optionsD{
    background-color: #001d86;
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    padding: 3rem;
}
.optionsD p{
    color: white;
}
.contentD{
    width: 80vw;
    height: 80vh;
}