.profile{
    display: flex;
    
} 
.options{
    background-color: #296ab1;
    border-radius: 10px;
    width: 20vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.options p{
    color: white;
    cursor: pointer;
    font-weight: 800;
    width: 18vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options p:hover{
    border-radius: 10px;
    color: black;
    background-color: white;
}
.options p:focus{
    border-radius: 10px;
    color: black;
    background-color: white;
}


.options li{
    margin: 3rem;
    width: 18vw;
    height: 6vh;
    list-style: none;

}

.content{
    width: 80vw;
    height: 80vh;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-left: 3px solid white;
    
}
