* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .fondo{
    width: 100vw;
    min-height: 80vh;
    background-image: url(https://res.cloudinary.com/dpkqzc5zh/image/upload/v1686571668/Disen%CC%83o_sin_ti%CC%81tulo_1_nio5qg.png);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a50898e;
    padding: 15px 25px 30px;
    border-radius: 5px;
    gap: 1rem
  }
 
  .btn{
    background: #001d86B1;
    cursor: pointer;
    border-radius: 5px;
    color: white
  }
  
  .btn:hover {
    background: #001d86;
  }

  h1.titleHome{
    font-weight: 100;
    color: white;
  }

