header{
    width: 100vw;
    height: 10vh;
    background-color: #1a5089;
	border-bottom: 3px solid white;
}
.logoVirtualSchool img{
    width: 60px;
    margin-left: 3rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
}
.logoVirtualSchoolNo {
	height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logoVirtualSchoolNo img{
    width: 60px;
}
.headerActive{
	height: 10vh;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.iconoUsuario img{
    height: 100px;
    border: 3px solid white;
    padding: 5px;
    border-radius: 50px;
    margin-right: 3rem;
	position: relative;
	bottom: -3rem;
	background-color: #1a5089;
}
.perfil{
	color: white;
}
header a{
    color: white;
}
nav {
	margin: 50px 0;
	background-color: transparent;
}
nav ul {
	padding: 0;
    margin: 0;
	list-style: none;
	position: relative;
}
nav ul li {
	display:inline-block;
	background-color: transparent;
}
nav ul li ul {
    border: 3px solid #1a5089;
	background-color: #1a5089;
}
nav a {
	display:block;
	padding:0 10px;	
	color:#FFF;
	font-size:20px;
	line-height: 60px;
	text-decoration:none;
}
nav a:hover, nav p:hover { 
	background-color: white; 
    color: #1a5089;
}
nav ul ul {
	display: none;
	position: absolute;
    right: 0rem;
    bottom: -10.3rem
}
nav ul li:hover > ul {
	display: block;
}
	
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
@media screen and ( max-width: 1050px){
	.iconoUsuario img{
		height: 70px;
		bottom: 0;
	}
}