.borrarnota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.borrarnota h1 {
  border: 5px solid #296ab1;
	color: #296ab1;
  border-radius: 15px;
	text-align: center;
	font-size: 100;
  font-weight: bold;
	margin:2% 2% 2% 2%;
  width: 80vh;
  text-transform: uppercase;
}
.h2BorrarNota{
  color: black;
}

.buttonBorrarNota{
  font-weight: 700;
  border: none;
  border-radius: 5px;
  width: 70px;
  height: 40px;
  font-weight: normal;
  font-size: medium;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  background-color: #001D86;
}