.alumnosasignatura {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.alumnosasignatura h1 {
  border: 5px solid #296ab1;
	color: #296ab1;
  border-radius: 15px;
	text-align: center;
	font-size: 100;
  font-weight: bold;
	margin:2% 2% 2% 2%;
  width: 80vh;
  text-transform: uppercase;
}

.negro{
  color: black;
}

tbody> tr > td.nombre1{
  background-color: #1a5089;
  display: flex;
  justify-content: center;
  align-items: center; 
  border-color: #1a5089;
} 

td.nota6 p{
  color: #296ab1;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

tbody> tr > td.nota6{
  border: 3px solid #296ab1;
}

.tablaAlumnosAsignatura{
  width: 23vw;
}
