.crearnota {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}

h1.tituloCrearNota {
  border: 5px solid #296ab1;
	color: #296ab1;
  border-radius: 15px;
	text-align: center;
	font-size: 100;
  font-weight: bolder;
	margin:2%;
  width: 60vw;
  text-transform: uppercase;
}

.carta img{
  width: 100px;
  border-radius: 50px;
  border: 3px solid black;
}

.name-container1{
  border: 3px solid #1a50898e;
  width: 15vw;
  padding: 15px 25px 30px;
  border-radius: 10px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.crearnota label{
  color: #001d86;
  font-weight: normal;
}

.carta{
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.negro{
  margin-top: 20px;
}
.carrusel{
  margin-top: 20px;
}

.pCrearNota{
  color: #001d86;
  font-weight: bolder;
}

.input-nota{
  width: 30%;
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  font-family: inherit;
  caret-color: #001d86;
}

.input-nota:focus{
  outline-color: #001d86;
}

.form-group{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.div-crearNota{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  background-color: #0f4a888e;
  border-radius: 20px;
  padding: 2rem 5rem;
}

