* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.containerProfile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1a50898e;
    padding: 15px 25px 30px;
    border-radius: 5px;
}

