* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    line-height: 1.8;
  }

.form-wrap{
    background-color: #1a50898e;;
}

.form-wrap h1,
.form-wrap p {
  text-align: center;
  color: #001d86;
  font-weight: bolder;
}