.asignaturaselect {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .asignaturaselect h1 {
    border: 5px solid #296ab1;
      color: #296ab1;
    border-radius: 15px;
      text-align: center;
      font-size: 40px;
    font-weight: bold;
      margin:2% 2% 2% 2%;
    text-transform: uppercase;
    width: 55vw;
  }
  .negro{
    color: black;
  }
  .flexAlumns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexWrapAlumns{
    display: flex;
    flex-wrap: wrap;
  }
  .figureAlumns{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    border: 5px solid #296ab1;
    color: #296ab1;
    border-radius: 15px;
    margin: 2rem;
  }
  .figureAlumns img{
    width: 100px;
    border-radius: 50px;
  }