.notasporcurso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.notasporcurso h1{
    border: 5px solid #296ab1;
	color: #296ab1;
    border-radius: 15px;
	text-align: center;
	font-size: 40px;
    font-weight: bold;
	margin:2% 2% 2% 2%;
    width: 80vh;
    text-transform: uppercase;
}

select{
    color: black;
    width: 40vh;
    text-align: center;
    border: 2.5px solid #296ab1;
	color: #296ab1;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

tbody> tr > td.asignatura2{
    background-color: #1a5089;
}

tbody> tr > td.nota2{
    border: 3px solid #296ab1;
}

.asignatura2 p{
    color: white;
}

.nota2 p{
    color: #296ab1;
}