.notasporcurso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notasporcurso h1{
    color: black;
}
option{
    color: black;
}
select{
    color: black;
}
.asignatura,.nota{
    width: 10rem;
}