.notasporcurso{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.notasporcurso h1{
    border: 5px solid #296ab1;
	color: #296ab1;
    border-radius: 15px;
	text-align: center;
	font-size: 100;
    font-weight: bold;
	margin:2% 2% 2% 2%;
    width: 60vw;
    text-transform: uppercase;
}

select{
    color: black;
    width: 40vw;
    height: 5vh;
    text-align: center;
    border: 2.5px solid #296ab1;
	color: #296ab1;
    font-weight: bold;
    font-size: medium;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

tbody> tr > td.asignatura{
    background-color: #1a5089;
    /* border-color: #1a5089;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; */
}

tbody> tr > td.nota2{
    border: 3px solid #296ab1;
}

.asignatura2 p{
    color: white;
}

.nota2 p{
    color: #296ab1;
    padding-top: 10px;
}

/* .tableNotasPorCurso{
    width: 23vw;
} */
